.space-left {
  margin-left: 9.9rem;
}
.main-color {
  color: #000000cc;
}
.main-background {
  background-color: #0f5a5f;
}
.border-outline {
  outline: 0;
}
.space-label {
  position: relative;
  left: 10rem;
}
.bg-button {
  background-color: #0f5a5f;
  border-radius: 2%;
  border: 0;
}
