*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  --main:#0F5A5F;
  --green:#22956b;
  --red: #F02A2A;
  --gray:#7A838A;
  --light-gray: #85878D;
  --transparent-green:#22956b14 ;
  --transparent-red: #F02A2A18;
  
  --soft-gray:#e5e7eb;

}
#root{
  width: 100%;
  background-color: white;
}